:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #201a1a;
  --black2: #000000;
  --black3: #000000;
  --black-lighter: #1c4b91;
  --black-light: #77172f;
  --pink: #da2f68;
  --orange: #f89e00;
  --gradient: linear-gradient(-45deg, #020405 0%, #098beee3 100%);

  /* New colors */
  --blue: #007bff;
  --yellow: #ffc107;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
}

::-webkit-scrollbar {
  display: none;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: var(--black-light);

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg,
        rgba(25, 55, 99, 0) 0,
        rgba(25, 55, 99, 0.2) 20%,
        rgba(25, 55, 99, 0.5) 60%,
        rgba(25, 55, 99, 0));
    animation: shimmer 2s infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}